{% extends 'users-base.html' %}
{% load static %} 
{% block user_content %}
<div class="row">
	<div class="col-xl-12">
		<div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-label">
					<h3 class="kt-portlet__head-title">Personal Information <small>update your personal informaiton</small></h3>
				</div>
			</div>
			<form class="kt-form kt-form--label-right" id="userform">
				<div class="kt-portlet__body">
					<div class="kt-section kt-section--first">
						<div class="kt-section__body">
							<div class="row">
								<label class="col-xl-3"></label>
								<div class="col-lg-9 col-xl-6">
									<h3 class="kt-section__title kt-section__title-sm">Staff Info:</h3>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-xl-3 col-lg-3 col-form-label">Name</label>
								<div class="col-lg-9 col-xl-6">
									<input class="form-control" type="text" value="{{user.first_name}}" disabled>
								</div>
							</div>
							{% comment %} <div class="row">
								<label class="col-xl-3"></label>
								<div class="col-lg-9 col-xl-6">
									<h3 class="kt-section__title kt-section__title-sm">Contact Info:</h3>
								</div>
							</div> {% endcomment %}
							{% comment %} <div class="form-group row">
								<label class="col-xl-3 col-lg-3 col-form-label">Contact Phone</label>
								<div class="col-lg-9 col-xl-6">
									<div class="input-group">
										<div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
										<input type="text" class="form-control" value="+35278953712" placeholder="Phone" aria-describedby="basic-addon1">
									</div>
									<span class="form-text text-muted">We'll never share your email with anyone else.</span>
								</div>
							</div> {% endcomment %}
							{% comment %} <div class="form-group row">
								<label class="col-xl-3 col-lg-3 col-form-label">Email Address</label>
								<div class="col-lg-9 col-xl-6">
									<div class="input-group">
										<div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
										<input type="text" class="form-control" value="{{user.email}}" placeholder="Email" aria-describedby="basic-addon1" disabled>
									</div>
								</div>
							</div> {% endcomment %}
							{% comment %} <div class="form-group form-group-last row">
								<label class="col-xl-3 col-lg-3 col-form-label">Company Site</label>
								<div class="col-lg-9 col-xl-6">
									<div class="input-group">
										<input type="text" class="form-control" placeholder="Username" value="loop">
										<div class="input-group-append"><span class="input-group-text">.com</span></div>
									</div>
								</div>
							</div> {% endcomment %}
							<div class="row">
								<label class="col-xl-3"></label>
								<div class="col-lg-9 col-xl-6">
									<h3 class="kt-section__title kt-section__title-sm">System Info:</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3">
									
								</div>
								<div class="col-lg-3">
									<label>Is Superuser:</label>
									{{form.is_superuser}}
								</div>
								<div class="col-lg-3">
									<label>Is Staff:</label>
									{{form.is_staff}}
								</div>
								<div class="col-lg-3">
									<label class="">Is Active:</label>
									{{form.is_active}}
								</div>
							</div>
							<div class="row">
								<div class="col-lg-3">
									
								</div>
								<div class="col-lg-3">
								<label>Date Joined</label>
									<label>{{user.date_joined}}</label>
								</div>
								<div class="col-lg-3">
									<label>Last Login</label>
									<label>{{user.last_login}}</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock user_content %}