<!--Begin:: Portlet-->
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Deals
                    </h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                    <a href="#" class="btn btn-clean btn-sm btn-bold" data-toggle="dropdown">
                        <i class="flaticon2-add-1 kt-icon-sm"></i> Add deal
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-fit dropdown-menu-md">

                        <!--begin::Nav-->
                        <ul class="kt-nav">
                            <li class="kt-nav__head">
                                Add new deal
                                <i class="flaticon2-information" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more..."></i>
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-drop"></i>
                                    <span class="kt-nav__link-text">New Deal</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-calendar-8"></i>
                                    <span class="kt-nav__link-text">New Lead</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-link"></i>
                                    <span class="kt-nav__link-text">Change Settings</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a href="#" class="kt-nav__link">
                                    <i class="kt-nav__link-icon flaticon2-new-email"></i>
                                    <span class="kt-nav__link-text">Reports</span>
                                    <span class="kt-nav__link-badge">
                                        <span class="kt-badge kt-badge--success">5</span>
                                    </span>
                                </a>
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__foot">
                                <a class="btn btn-label-danger btn-bold btn-sm" href="#">Manage deals</a>
                                <a class="btn btn-clean btn-bold btn-sm" href="#" data-toggle="kt-tooltip" data-placement="right" title="Click to learn more...">Learn more</a>
                            </li>
                        </ul>

                        <!--end::Nav-->
                    </div>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-section kt-section--space-md">
                    <div class="kt-widget24 kt-widget24--solid">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <a href="#" class="kt-widget24__title" title="Click to edit">
                                    Hardware Purchase
                                </a>
                                <span class="kt-widget24__desc">
                                    Web & database servers
                                </span>
                            </div>
                            <span class="kt-widget24__stats kt-font-brand">
                                $340,050
                            </span>
                        </div>
                        <div class="progress progress--sm">
                            <div class="progress-bar kt-bg-brand" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="kt-widget24__action">
                            <span class="kt-widget24__change">
                                Due date
                            </span>
                            <span class="kt-widget24__number">
                                20 Apr, 2019
                            </span>
                        </div>
                    </div>
                </div>
                <div class="kt-section kt-section--space-md">
                    <div class="kt-widget24 kt-widget24--solid">
                        <div class="kt-widget24__details">
                            <div class="kt-widget24__info">
                                <a href="#" class="kt-widget24__title" title="Click to edit">
                                    eCommerce Solution
                                </a>
                                <span class="kt-widget24__desc">
                                    Zara Retails Shop
                                </span>
                            </div>
                            <span class="kt-widget24__stats kt-font-success">
                                $1,5M
                            </span>
                        </div>
                        <div class="progress progress--sm">
                            <div class="progress-bar kt-bg-success" role="progressbar" style="width: 45%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="kt-widget24__action">
                            <span class="kt-widget24__change">
                                Launch Date
                            </span>
                            <span class="kt-widget24__number">
                                1 Sep, 2021
                            </span>
                        </div>
                    </div>
                </div>
                <div class="kt-section kt-section--last">
                    <a href="#" class="btn btn-label-brand btn-sm btn-bold"><i class=""></i> See all deals</a>
                </div>
            </div>
        </div>

        <!--End:: Portlet-->