{% extends 'base.html' %}
{% load static %}
{% block css %} {% endblock css %}
{% block pagecss %}

<link href="{% static 'css/pages/wizard/wizard-1.css' %}" rel="stylesheet" type="text/css" />

{% endblock pagecss %}
{% block toolbar %}

{% endblock toolbar %} {% block content %}
<div class="kt-portlet">
    <div class="kt-portlet__body kt-portlet__body--fit">
        <div class="kt-grid  kt-wizard-v1 kt-wizard-v1--white" id="kt_contacts_add" data-ktwizard-state="step-first">
            <div class="kt-grid__item">

                <!--begin: Form Wizard Nav -->
                <div class="kt-wizard-v1__nav">
                    <div class="kt-wizard-v1__nav-items">
                        {% for form in forms %}
                        {% if forloop.counter0 == 0 %}
                        {% else %}
                        <!--doc: Replace A tag with SPAN tag to disable the step link click -->
                        <div class="kt-wizard-v1__nav-item" data-ktwizard-type="step" {% if forloop.counter0 == 1 %} data-ktwizard-state="current"{% endif %}>
                            <div class="kt-wizard-v1__nav-body">
                                <div class="kt-wizard-v1__nav-icon">
                                </div>
                                <div class="kt-wizard-v1__nav-label">
                                    {{forloop.counter0}}. {{form.group}}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}

                    </div>
                </div>

                <!--end: Form Wizard Nav -->
            </div>
            <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v1__wrapper">

                <!--begin: Form Wizard Form-->
                <form class="kt-form" id="kt_contacts_add_form" method="POST" action="{{request.path}}">
                {% csrf_token %}
                    {% for form in forms %}
                        {% if forloop.counter0 == 0 %}
                        <div class="d-none">
                            {{form.form}}
                        </div>
                        {% else %}
                        <!--begin: Form Wizard Step 1-->
                        <div class="kt-wizard-v1__content" data-ktwizard-type="step-content" {% if forloop.counter0 == 1 %} data-ktwizard-state="current"{% endif %}>
                            <div class="kt-section kt-section--first">
                                <div class="kt-wizard-v1__form">
                                    <div class="row">
                                        <div class="col-xl-12">
                                            <div class="kt-section__body row">
                                                {% for field in form.form %}
                                                <div class="col-lg-6">
                                                    <label>{{field.label}}:</label>
                                                    <div class="form-group ">
                                                        {{field}}
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end: Form Wizard Step 1-->
                    {% endif %}
                    {% endfor %}

                    <!--begin: Form Actions -->
                    <div class="kt-form__actions">
                        <div class="btn btn-secondary btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-prev">
                            Previous
                        </div>
                        <div class="btn btn-success btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-submit">
                            Submit
                        </div>
                        <div class="btn btn-brand btn-md btn-tall btn-wide kt-font-bold kt-font-transform-u" data-ktwizard-type="action-next">
                            Next Step
                        </div>
                    </div>

                    <!--end: Form Actions -->
                </form>

                <!--end: Form Wizard Form-->
            </div>
        </div>
    </div>
</div>

{% endblock content %} {% block javascript %}
{% comment %}
<script type="text/javascript" src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
{% endcomment %}
<script type="text/javascript" src="{% static 'js/riso/contacts/create.js' %}"></script>
<script type="text/javascript" src="{% static 'js/riso/jquery.render.js' %}"></script>
{% endblock javascript %} {% block pagescript %}

<script>
    initWizard();
    initValidation();
    initAvatar();

</script>

{% endblock pagescript %}