{% extends 'base.html' %}
{% load static %}
{% block css %} {% endblock css %}
{% block pagecss %}
{% endblock pagecss %}
{% block toolbar %}

{% endblock toolbar %} {% block content %}

<!--Begin:: Portlet-->
<form method="POST" action="{{request.path}}">
{% csrf_token %}
<div class="kt-portlet kt-portlet--tabs kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile">
  <div class="kt-portlet__head">
    <div class="kt-portlet__head-label">
        <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
      {% for form in forms %}
        {% if forloop.counter0 == 0 %}
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if forloop.counter0 == 1 %}active {% endif %} " data-toggle="tab" href="#kt_contacts_view_tab_{{form.group|slugify}}" role="tab">
            <i class="flaticon2-calendar-3"></i> {{form.group}}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">
            &nbsp;
            <button type="submit" class="btn btn-success">
                <i class="la la-check" style="padding-right: 0px;"></i>
            </button>
            &nbsp;
            <a href="{{go_back_url}}" class="btn btn-secondary">
                <i class="la la-ban" style="padding-right: 0px;"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="tab-content  kt-margin-t-20">
      {% for form in forms %}
        {% if forloop.counter0 == 0 %}
        <div class="d-none">
        {{form.form}}
        </div>
        {% else %}
        <!--Begin:: Tab Content-->
        <div class="tab-pane {% if forloop.counter0 == 1 %}active {% endif %}" id="kt_contacts_view_tab_{{form.group|slugify}}" role="tabpanel">
          <div class="kt-form kt-form--label-right">
            <div class="kt-form__body">
              <div class="kt-section kt-section--first">
                <div class="kt-section__body row">
                  {% for field in form.form %}
                  <div class="col-lg-4">
                      <label>{{field.label}}:</label>
                      <div class="form-group ">
                          {{field}}
                      </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--End:: Tab Content-->
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
<!--End:: Portlet-->
</form>

{% endblock content %} {% block javascript %}
{% comment %}
<script type="text/javascript" src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
{% endcomment %}
<script type="text/javascript" src="{% static 'js/riso/contacts/edit.js' %}"></script>
<script type="text/javascript" src="{% static 'js/riso/jquery.render.js' %}"></script>
{% endblock javascript %} {% block pagescript %}

<script>
initAvatar();
</script>

{% endblock pagescript %}