{% extends 'base.html' %} {% load static %} {% block css %} {% endblock css %} {% block pagecss %}
<link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" /> {% endblock pagecss %}
{% block toolbar %}
<div class="kt-subheader__toolbar">
    <div class="kt-subheader__wrapper">
        <select class="form-control kt-select2" id="id_filter_select" name="param" style="width: 580px !important;" onchange="changeFilter()">
      <option value="">Filter</option>
      {% for filter in filter_list %}
      <option value="{{filter.id}}" {% if default_filter == filter.id %} %}selected{% endif %}>{{filter.name}}</option>
      {% endfor %}
    </select>
        <div class="dropdown dropdown-inline" data-toggle="kt-tooltip" title="Quick actions" data-placement="left">
            <a href="#" class="btn btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect x="0" y="0" width="24" height="24" />
                    <path
                    d="M7,3 L17,3 C19.209139,3 21,4.790861 21,7 C21,9.209139 19.209139,11 17,11 L7,11 C4.790861,11 3,9.209139 3,7 C3,4.790861 4.790861,3 7,3 Z M7,9 C8.1045695,9 9,8.1045695 9,7 C9,5.8954305 8.1045695,5 7,5 C5.8954305,5 5,5.8954305 5,7 C5,8.1045695 5.8954305,9 7,9 Z"
                    fill="#000000" />
                    <path
                    d="M7,13 L17,13 C19.209139,13 21,14.790861 21,17 C21,19.209139 19.209139,21 17,21 L7,21 C4.790861,21 3,19.209139 3,17 C3,14.790861 4.790861,13 7,13 Z M17,19 C18.1045695,19 19,18.1045695 19,17 C19,15.8954305 18.1045695,15 17,15 C15.8954305,15 15,15.8954305 15,17 C15,18.1045695 15.8954305,19 17,19 Z"
                    fill="#000000" opacity="0.3" />
                </g>
                </svg>
            </a>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md dropdown-menu-right">
                <!--begin::Nav-->
                <ul class="kt-nav">
                    <li class="kt-nav__item">
                        <a href="{% url 'app_mgmt:view' %}?model=Contact" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon-cogwheel "></i>
                            <span class="kt-nav__link-text">Field Config</span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a href="{% url 'configs:external' 'Contact' %}" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon-interface-3"></i>
                            <span class="kt-nav__link-text">External Config</span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a href="{% url 'configs:report' 'Contact' %}" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon-interface-3"></i>
                            <span class="kt-nav__link-text">Report Config</span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a href="{% url 'configs:field' 'Contact' %}" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon-interface-3"></i>
                            <span class="kt-nav__link-text">View Field Config</span>
                        </a>
                    </li>
                    <li class="kt-nav__item">
                        <a href="{% url 'filters:list' %}?model=Contact" class="kt-nav__link">
                            <i class="kt-nav__link-icon flaticon-interface-3"></i>
                            <span class="kt-nav__link-text">Filter management</span>
                        </a>
                    </li>
                </ul>
                <!--end::Nav-->
            </div>
        </div>
    </div>
</div>

{% endblock toolbar %} {% block content %}
<div class="kt-portlet kt-portlet--mobile kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
        <i class="kt-font-brand {{st_icon}}"></i>
      </span>
            <h3 class="kt-portlet__head-title">
                {{table_title}}
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    &nbsp;
                    <a href="{% url 'contacts:create' %}" class="btn btn-success" data-toggle="kt-tooltip" data-placement="left" data-original-title="Create new">
                        <i class="la la-plus" style="padding-right: 0px;"></i>
                    </a>
                    &nbsp;
                    <button data-toggle="modal" data-target="#m_delete_multi" class="btn btn-danger" style="color: white;">
                        <i class="la la-trash" style="padding-right: 0px;" data-toggle="kt-tooltip" data-placement="left" data-original-title="Delete"></i>
                    </button>
                    &nbsp;
                    <a href="{% url 'contacts:import' %}" class="btn btn-secondary" data-toggle="kt-tooltip" data-placement="left" data-original-title="Upload">
                        <i class="la la-cloud-upload" style="padding-right: 0px;"></i>
                    </a>
                    &nbsp;
                    <a href="{% url 'contacts:export' %}" class="btn btn-secondary"  data-toggle="kt-tooltip" data-placement="left" data-original-title="Download">
                        <i class="la la-cloud-download" style="padding-right: 0px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">
        <!--begin: Datatable -->
        <div id="kt_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <!--begin: Datatable -->
                    <div data-riso-dynamic-table>
                        <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1"></table>
                    </div>

                    <!--end: Datatable -->
                </div>
            </div>
        </div>
        <!--end: Datatable -->
    </div>
</div>


<!--begin::Modal-->
{% url 'contacts:delete' as delete_url %} {% include 'modals/delete_multiple.html' with delete_url=delete_url %} {% endblock content %} {% block javascript %}
<script type="text/javascript" src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'js/riso/datatable/dynamic-table.js' %}"></script>
<script type="text/javascript" src="{% static 'js/riso/contacts/list.js' %}"></script>
{% endblock javascript %} {% block pagescript %}
<script>
    var table = $('#kt_table_1');
    // begin first table
    var base_url = "{% url 'contacts:contacts-list' %}?format=datatables";
    var view_url = "{% url 'contacts:view' 0 %}"
    var edit_url = "{% url 'contacts:edit' 0 %}"
    var dynamicTable = table.risoDynamicTable({
        baseUrl: base_url,
        columnAction: {
            targets: -1,
            title: 'Actions',
            orderable: false,
            render: function(data, type, full, meta) {
                return `
                    <a class="btn btn-sm btn-clean btn-icon btn-icon-md" title="View" href="` + view_url.replace('0', full.id) + `">
                        <i class="la la-eye"></i>
                    </a>
                    <a class="btn btn-sm btn-clean btn-icon btn-icon-md" title="View" href="` + edit_url.replace('0', full.id) + `">
                        <i class="la la-edit"></i>
                    </a>
            `;
            }
        }
    });

    function changeFilter() {
        dynamicTable.data('plugin_risoDynamicTable').filterTable(base_url + "&filter=" + $('#id_filter_select').val());
    }
    $('[data-target="#m_delete_multi"]').on('click', function() {
        var selectedIds = dynamicTable.data('plugin_risoDynamicTable').getSelectedRow();
        console.log(selectedIds);
    });
</script>

{% endblock pagescript %}