{% extends 'base.html' %}
{% load static custom_tags %}
{% block css %} {% endblock css %}
{% block pagecss %}

{% comment %} <link href="{% static 'css/pages/wizard/wizard-1.css' %}" rel="stylesheet" type="text/css" /> {% endcomment %}

{% endblock pagecss %}
{% block toolbar %}

{% endblock toolbar %} {% block content %}


<div class="kt-portlet">
    <div class="kt-portlet__body">
        <div class="kt-widget kt-widget--user-profile-3">
            <div class="kt-widget__top">
                <div class="kt-widget__media">
                </div>
                <div class="kt-widget__pic kt-widget__pic--danger kt-font-danger kt-font-bolder kt-font-light kt-hidden">
                </div>
                <div class="kt-widget__content">
                    <div class="kt-widget__head">
                        <div class="kt-widget__user">
                            <a href="#" class="kt-widget__username">
                                {{obj.name}}
                            </a>
                        </div>
                        <div class="kt-widget__action">
                            <a href="#" class="btn btn-label-brand btn-sm btn-upper" id="kt_app_chat_launch_btn" data-toggle="modal" data-target="#kt_chat_modal">Send Messages</a>
                        </div>
                    </div>
                    <div class="kt-widget__subhead">
                        {% for field in fields %}
                            <a href="#">{{field.object.verbose_name}}: <b> {% valuelookup obj field.field %} </b> </a>
                        {% endfor %}
                    </div>
                    <div class="kt-widget__info">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-xl-4">
        <!--Begin:: Portlet-->
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        Report
                    </h3>
                </div>
            </div>
            <div class="kt-form kt-form--label-right">
                <div class="kt-portlet__body">
                    {% for group in reports %}
                        <div class="kt-section kt-section--space-md">
                            <div class="kt-widget24 kt-widget24--solid">
                                <div class="kt-widget24__details">
                                    <div class="kt-widget24__info">
                                        <a href="#" class="kt-widget24__title">
                                            {{group.name}}
                                        </a>
                                        <span class="kt-widget24__desc">
                                            {{group.desc}}
                                        </span>
                                    </div>
                                    <span class="kt-widget24__stats kt-font-brand">
                                        {{group.value}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!--End:: Portlet-->

        <!--DEALS-->
    </div>
    <div class="col-xl-8">

        <!--Begin:: Portlet-->
        <div class="kt-portlet kt-portlet--tabs">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-toolbar">
                    <ul class="nav nav-tabs nav-tabs-space-lg nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand" role="tablist">
                    
                    {% for group in externals %}
                        <li class="nav-item {% if forloop.counter0 == 0 %}active{% endif %}">
                            <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_{{group.external}}" role="tab">
                                <i class="{{group.icon}}"></i> {{group.external|title}}
                            </a>
                        </li>
                    {% endfor %}
                    {% for group in groups %}
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#kt_apps_contacts_view_tab_{{group.group|slugify}}" role="tab">
                                <i class="flaticon2-user-outline-symbol"></i> {{group.group}}
                            </a>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="tab-content kt-margin-t-20">
                    {% for group in externals %}
                    <!--Begin:: Tab Content-->
                    <div class="tab-pane {% if forloop.counter0 == 0 %}active{% endif %}" id="kt_apps_contacts_view_tab_{{group.external}}" role="tabpanel">
                        {% with template_name=group.external|stringformat:"s"|add:"-form.html" %}
                            {% include ""|add:template_name %}
                        {% endwith %}
                    </div>
                    <!--End:: Tab Content-->
                    {% endfor %}

                    {% for group in groups %}
                        <!--Begin:: Tab Content-->
                        <div class="tab-pane" id="kt_apps_contacts_view_tab_{{group.group|slugify}}" role="tabpanel">
                            {% for field in group.fields %}
                            <div class="form-group form-group-xs row">
                                <label class="col-4 col-form-label">{{field.object.verbose_name}}:</label>
                                <div class="col-8">
                                    <span class="form-control-plaintext kt-font-bolder">{% valuelookup obj field.name %} </span>
                                </div>
                            </div>
                            {% endfor %}
                        </div>

                        <!--End:: Tab Content-->
                    {% endfor %}
                    
                    

                    

                

                    

                  
                </div>
            </div>
        </div>

        <!--End:: Portlet-->
    </div>
</div>


{% endblock content %} {% block javascript %}

<script type="text/javascript" src="{% static 'js/riso/contacts/view.js' %}"></script>
{% endblock javascript %} {% block pagescript %}

<script>


</script>

{% endblock pagescript %}