{% extends "account/base.html" %} {% load i18n %} {% load account socialaccount %} {% block head_title %}Sign out{% endblock %} {% block inner %}



<!--begin::Body-->
<div class="kt-login__body">

    <!--begin::Signin-->
    <div class="kt-login__form">
        <div class="kt-login__title">
            <h4>Are you sure you want to sign out?</h4>
        </div>

        <!--begin::Form-->
        <form class="kt-form" action="{% url 'account_logout' %}" method="POST" novalidate="novalidate" id="kt_login_form">
        {% csrf_token %}
            
            {% if redirect_field_value %}
            <input type="hidden" id="idnext" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
            <!--begin::Action-->
            <div class="kt-login__actions d-flex justify-content-center">
                <button id="kt_login_signin_submit" class="btn btn-danger btn-elevate kt-login__btn-primary">Sign out</button>
            </div>
            <!--end::Action-->
        </form>
    </div>

    <!--end::Signin-->
</div>

<!--end::Body-->
{% endblock %} {% block page_script %}
<script>
</script>
{% endblock page_script %}