{% extends "account/base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}Password reset{% endblock %} {% block inner %}

<!--begin::Head-->
<div class="kt-login__head">
    <span class="kt-login__signup-label">Already have an account?</span>&nbsp;&nbsp;
    <a href="{{ login_url }}" class="kt-link kt-login__signup-link">Sign In!</a>
</div>

<!--end::Head-->

<!--begin::Body-->
<div class="kt-login__body">

    <!--begin::Signin-->
    <div class="kt-login__form">
        <div class="kt-login__title">
            <h3>Password Reset</h3>
            <h6>Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it.</h6>
        </div>

        <!--begin::Form-->
        <form class="kt-form validated" action="{% url 'account_reset_password' %}" method="POST" novalidate="novalidate" id="kt_login_form">
        {% csrf_token %}
            <div class="form-group">
                <input class="form-control {% if form.email.errors %}is-invalid{% endif %}" type="email" placeholder="Email" name="email" autocomplete="off" autofocus="autofocus" required="" id="id_email">
                {% for item in form.email.errors %}
                <div class="invalid-feedback">{{item}}</div>
                {% endfor %}
            </div>
            
            {% if redirect_field_value %}
            <input type="hidden" id="idnext" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
            <!--begin::Action-->
            <div class="kt-login__actions d-flex justify-content-center">
                
                <button id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary">Request</button>
            </div>

            <!--end::Action-->
        </form>

        <!--end::Form-->
     
    </div>

    <!--end::Signin-->
</div>

<!--end::Body-->
{% endblock %} {% block page_script %}
<script>
    //// Login
    var login = $('#kt_login');

    // Private Functions
    $('#kt_login_signin_submit').click(function(e) {
        e.preventDefault();
        var btn = $(this);
        var form = $('#kt_login_form');
        form.validate({
            rules: {
                username: {
                    required: true
                },
                password: {
                    required: true
                }
            }
        });

        if (!form.valid()) {
            return;
        }

        KTApp.progress(btn[0]);

        setTimeout(function() {
            KTApp.unprogress(btn[0]);
        }, 2000);

        $('#kt_login_form').submit();
    });

    //// End Login
</script>
{% endblock page_script %}
