{% extends 'base.html' %}
{% load static %}
{% block css %} {% endblock css %}
{% block pagecss %}
<link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" /> {% endblock pagecss %} {% block toolbar %} {% endblock toolbar %} {% block content %}
<form action="{{request.path}}" method="post" class="validated">
     {% csrf_token %}
  <div class="kt-portlet kt-portlet--mobile kt-portlet--last kt-portlet--head-lg kt-portlet--responsive-mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-line-chart"></i>
            </span>
            <h3 class="kt-portlet__head-title">
                {{table_title}}
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
            <div class="kt-portlet__head-wrapper">
                <div class="kt-portlet__head-actions">
                    &nbsp;
                    <button type="submit" class="btn btn-success">
                        <i class="la la-check" style="padding-right: 0px;"></i>
                    </button>
                    &nbsp;
                    <a href="{{go_back_url}}" class="btn btn-secondary">
                        <i class="la la-ban" style="padding-right: 0px;"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="kt-portlet__body">

        <!--begin: Datatable -->
        <div id="kt_table_1_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="kt-form kt-form--label-right">
                      <div class="kt-portlet__body ">
                        <div class="form-group row">
                            <div class="col-lg-3 d-none">
                            {{form.creator}}
                            {{form.last_modified_by}}
                            </div>
                            <div class="col-lg-10">
                                <label>Name:</label>
                                {{form.name}}
                                {% for item in form.name.errors %}
                                <div class="invalid-feedback">{{item}}</div>
                                {% endfor %}
                                <span class="form-text text-muted">Please enter Choice name</span>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="col-sm-12">
                <h5>Values</h5>
                <div class="kt-form kt-form--label-right contain_form">
                    {{ formset.management_form }}
                    <div class="kt-portlet__body detailformsetdiv">
                      {% for dtform in formset %}
                      {{dtform.id}}
                      <div class="form-group row validated rowDetail-{{forloop.counter0}}">
                        <div class="col-lg-10">
                          <label class="form-control-label">Value:</label>
                          {{dtform.value}}
                          {% for item in dtform.value.errors %}
                          <div class="invalid-feedback">{{item}}</div>
                          {% endfor %}
                          <span class="form-text text-muted">Enter value</span>
                        </div>
                        <div class="col-lg-2">
                          <label class="">Delete</label><br/>
                            <label data-item="{{forloop.counter0}}"
                              class="btn-delete-item btn btn-danger btn-icon">
                              <i class="fa flaticon-delete-2"></i>
                              <span hidden>{{dtform.DELETE}}</span>
                        </label>
                        </div>
                      </div>
                      {% endfor %}

                    </div>
                    <div class="kt-portlet__foot">
                      <div class="row align-items-center">
                        <div class="nullDivDetail col-lg-6 m--valign-middle" style="display:none">
                          <div class="form-group row validated rowDetail-__prefix__">
                            {{formset.empty_form.id}}
                            <div class="col-lg-10">
                              <label>Value:</label>
                              {{formset.empty_form.value}}
                              {% for item in form.value.errors %}
                              <div class="invalid-feedback">{{item}}</div>
                              {% endfor %}
                              <span class="form-text text-muted">Enter value</span>
                            </div>
                            <div class="col-lg-2">
                              <label class="">Delete</label><br/>
                                <label data-item="__prefix__"
                                  class="btn-delete-item btn btn-danger btn-icon">
                                  <i class="fa flaticon-delete-2"></i>
                                  <span hidden>{{form.DELETE}}</span>
                            </label>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 kt-align-right">
                          <a class="addBtnDetailFS btn btn-outline-success btn-sm btn-icon btn-icon-md">
                            <i class="flaticon2-add-1"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
        </div>

        <!--end: Datatable -->
    </div>
  </div>
</form>
<!--begin::Modal-->

{% endblock content %} {% block javascript %}
<script type="text/javascript" src="{% static 'js/riso/dynamic-formset.js' %}"></script>
{% endblock javascript %} {% block pagescript %}
<script>
  deleteFormSet();
  addFormSet();
</script>

{% endblock pagescript %}
